.gitconfig
.bash_history
.bash_logout
.bashrc
.cache/
.profile
.python_history
.ssh/
.vim/
.viminfo
.vimrc



opencv_image/multiprocessing_single_cam1.py
opencv_image/multiprocessing_single_cam2.py
opencv_image/multiprocessing_single_cam3.py
opencv_image/time_sync.py
opencv_image/two_cam_capture2.py




*.jpg
*.png

*.avi
*.mp4
*.h264

*.mp3
*.wav
*.pcm

__pycache__

scp.sh

image/
video/
pcm/
docker*/



